<div class="header">
  <mat-toolbar>
    <button
      matIconButton
      class="example-icon"
      (click)="onToggle()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="brand"><span class="logo">M</span>edVault</div>

    <span class="example-spacer"></span>
    <span class="welcome-text">Welcome, {{ userName() }}</span>
    <button matIconButton [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/myprofile"><mat-icon>person</mat-icon>My Profile</button>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
  </mat-toolbar>
</div>
