<h2 mat-dialog-title class="dialog-title text-heading">
  <mat-icon>person</mat-icon>
  Edit Profile
</h2>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content class="dialog-content">
    <!-- BASIC INFORMATION -->
    <div class="section">
      <h3 class="section-title">Basic Information</h3>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput formControlName="firstName" aria-label="firstName" />
          <mat-error
            *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')"
          >
            First name is required
          </mat-error>

          <mat-error *ngIf="form.get('firstName')?.hasError('pattern')">
            First name contain only letters
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput formControlName="lastName" aria-label="lastName" />
          <mat-error
            *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')"
          >
            Last name is required
          </mat-error>
          <mat-error *ngIf="form.get('lastName')?.hasError('pattern')">
            Last name contain only letters
          </mat-error>
        </mat-form-field>
      </div>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="email" [disabled]="true" aria-label="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input matInput formControlName="mobile" aria-label="mobile" maxlength="10"/>
          <mat-error
            *ngIf="form.get('mobile')?.touched && form.get('mobile')?.hasError('required')"
          >
            Mobile number is required
          </mat-error>

          <mat-error *ngIf="form.get('mobile')?.touched && form.get('mobile')?.hasError('pattern')">
            Mobile number must be 10 digits and not start with 0 or 1
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- DOCTOR PROFILE -->
    <div class="section" *ngIf="isDoctor">
      <h3 class="section-title">Doctor Profile</h3>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>Specialization</mat-label>
          <mat-icon matPrefix>medical_services</mat-icon>
          <input matInput formControlName="specialization" aria-label="specialization" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>License Number</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input matInput formControlName="licenseNumber" aria-label="licenseNumber" />
          <mat-error
            *ngIf="
              form.get('licenseNumber')?.touched && form.get('licenseNumber')?.hasError('required')
            "
          >
            Specialization is required
          </mat-error>

          <mat-error
            *ngIf="
              form.get('licenseNumber')?.touched && form.get('licenseNumber')?.hasError('pattern')
            "
          >
            Invalid license format (e.g. MH12346)
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Hospital</mat-label>
        <mat-icon matPrefix>local_hospital</mat-icon>

        <mat-select formControlName="hospitalId">
          <mat-option *ngFor="let h of hospitals" [value]="h.id">
            {{ h.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- PATIENT PROFILE -->
    <div class="section" *ngIf="isPatient">
      <h3 class="section-title">Patient Profile</h3>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="dobPicker"
            formControlName="dateOfBirth"
            aria-label="dobPicker"
          />
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let g of genders" [value]="g.id">
              {{ g.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>Blood Group</mat-label>
          <mat-select formControlName="bloodGroup">
            <mat-option *ngFor="let bg of bloodGroups" [value]="bg.id">
              {{ bg.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Allergies</mat-label>
          <input matInput formControlName="allergies" aria-label="allergies" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Chronic Condition</mat-label>
        <input matInput formControlName="chronicCondition" aria-label="chronicCondition" />
      </mat-form-field>

      <div class="two-column">
        <mat-form-field appearance="outline">
          <mat-label>Emergency Contact Name</mat-label>
          <input
            matInput
            formControlName="emergencyContactName"
            aria-label="emergencyContactName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Emergency Contact Phone</mat-label>
          <input
            matInput
            formControlName="emergencyContactPhone"
            aria-label="emergencyContactPhone"
            maxlength="10"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <!-- ACTIONS -->
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
      Save Changes
    </button>
  </mat-dialog-actions>
</form>
