<div class="brand">
  <span class="logo">M</span>
  <span class="brand-name">MEDVAULT</span>
</div>

<h2 class="title">Patient Profile</h2>

<p class="caption">Complete your profile.</p>

<form class="patientProfileForm" [formGroup]="patientProfileForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="full">
    <mat-label>Date of Birth</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      readonly
      (click)="picker.open()"
      aria-label="dateOfBirth"
      [max]="today"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Gender -->
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let g of genders" [value]="g.id">
        {{ g.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Blood Group -->
  <mat-form-field>
    <mat-label>Blood Group</mat-label>
    <mat-select formControlName="bloodGroup">
      <mat-option *ngFor="let b of bloodGroups" [value]="b.id">
        {{ b.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Allergies -->
  <mat-form-field class="full">
    <mat-label>Allergies</mat-label>
    <input matInput formControlName="allergies" aria-label="allergies" />
  </mat-form-field>

  <!-- Chronic Condition -->
  <mat-form-field class="full">
    <mat-label>Chronic Condition</mat-label>
    <input matInput formControlName="chronicCondition" aria-label="chronicCondition" />
  </mat-form-field>

  <!-- Emergency Contact Name -->
  <mat-form-field>
    <mat-label>Emergency Contact Name</mat-label>
    <input matInput formControlName="emergencyContactName" aria-label="emergencyContactName" />
    <mat-error *ngIf="patientProfileForm.get('emergencyContactName')?.hasError('pattern')">
      Name can contain only letters
    </mat-error>
  </mat-form-field>

  <!-- Emergency Contact Phone -->
  <mat-form-field>
    <mat-label>Emergency Contact Phone</mat-label>
    <input
      matInput
      formControlName="emergencyContactPhone"
      aria-label="emergencyContactPhone"
      maxlength="10"
    />
    <mat-error
      *ngIf="
        patientProfileForm.get('emergencyContactPhone')?.touched &&
        patientProfileForm.get('emergencyContactPhone')?.hasError('pattern')
      "
    >
      Mobile number must be 10 digits and not start with 0 or 1
    </mat-error>
  </mat-form-field>

  <!-- Submit -->
  <div class="full">
    <button
      mat-raised-button
      class="primary-btn"
      type="submit"
      [disabled]="patientProfileForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
