<div class="brand">
  <span class="logo">M</span>
  <span class="brand-name">MEDVAULT</span>
</div>

<h2 class="title">
  {{ selectedRole === 'doctor' ? 'Login as Doctor' : 'Login as Patient' }}
</h2>

<form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
  <!-- Email -->
  <mat-form-field class="full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" aria-label="Email" />

    <mat-error
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')"
    >
      Email is required
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="full">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" aria-label="Password" />

    <mat-error
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')"
    >
      Password is required
    </mat-error>
  </mat-form-field>

  <!-- Submit -->
  <div class="full">
    <button mat-raised-button color="primary" class="primary-btn" type="submit">Log In</button>
  </div>

  <!-- Role switch -->
  <div class="auth-footer">
    <span>
      {{ selectedRole === 'patient' ? 'Are you a doctor?' : 'Are you a patient?' }}
    </span>

    <a class="signup-link" (click)="switchRole()">
      {{ selectedRole === 'patient' ? 'Login as Doctor' : 'Login as Patient' }}
    </a>
  </div>

  <!-- Sign up link -->
  <div class="auth-footer">
    <span>Don’t have an account?</span>
    <a (click)="goToRegister()" class="signup-link">Sign up</a>
  </div>
</form>
