.app-layout {
  display: flex;
  margin-top: 64px; /* header height */
  height: calc(100vh - 64px);
  background: #f4f6f8;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 24px;
  overflow: hidden;
  /* background-color: #f9f9f9; */
  background-color: var(--main-bg);
}
