<div class="auth-layout">
  <!-- LEFT IMAGE PANEL -->
  <div class="auth-left">
    <!-- Background Image -->
    <!-- <img
      src="/assets/images/auth-side.jpg"
      alt="Medical background"
      class="side-image"
    /> -->
    <img [src]="getAuthImage()" alt="Medical background" class="side-image" />

    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Text Content -->
    <div class="left-content">
      <div class="brand">
        <span class="logo">M</span>
        <span class="brand-name">MEDVAULT</span>
      </div>

      <p class="tagline">
        Empowering Healthcare,<br />
        One Click at a Time.
      </p>

      <small class="subtitle"> Your Health. Your Records. Your Control. </small>
    </div>
  </div>

  <!-- RIGHT FORM PANEL -->
  <div class="auth-right">
    <div class="auth-card">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
