html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.text-heading{
  color: #0b2c4d !important;
}


.patient-theme {
  --primary: #0b2c4d;
  --header-bg: linear-gradient(180deg, #08183a, #0b2c4d);
  --sidebar-bg: #ffffff;
  --sidebar-active: #e6eef8;
}

.doctor-theme {
  --primary: #065f46;
  --header-bg: linear-gradient(180deg, #064e3b, #065f46);
  --sidebar-bg: #f0fdf4;
  --sidebar-active: #dcfce7;
}
