<aside class="sidebar">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a *ngIf="userRole === 'Patient'" routerLink="/medicaltimeline" routerLinkActive="active">
      <mat-icon>view_timeline</mat-icon>
      <span>Medical Timeline</span>
    </a>
    <a *ngIf="userRole === 'Doctor'" routerLink="/patients" routerLinkActive="active">
      <mat-icon fontSet = "material-symbols-outlined">patient_list</mat-icon>
      <span>Patients</span>
    </a>
  </nav>
</aside>
