<aside class="sidebar">
  <nav>
    <a *ngIf="userRole === 'Patient'" routerLink="/patient-dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a *ngIf="userRole === 'Doctor'" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a *ngIf="userRole === 'Patient'" routerLink="/medicaltimeline" routerLinkActive="active">
      <mat-icon>view_timeline</mat-icon>
      <span>Medical Timeline</span>
    </a>
    <a *ngIf="userRole === 'Doctor'" routerLink="/patients" routerLinkActive="active">
      <mat-icon fontSet="material-symbols-outlined">patient_list</mat-icon>
      <span>Patients</span>
    </a>
    <a *ngIf="userRole === 'Patient'" routerLink="/reminders" routerLinkActive="active">
      <mat-icon fontSet="material-symbols-outlined">calendar_clock</mat-icon>
      <span>Reminders</span>
    </a>
    <a *ngIf="userRole === 'Patient'" routerLink="/share-records" routerLinkActive="active">
      <mat-icon fontSet="material-symbols-outlined">qr_code</mat-icon>
      <span> Share Records</span>
    </a>
    <a *ngIf="userRole === 'Doctor'" routerLink="/qr-shares" routerLinkActive="active">
      <mat-icon fontSet="material-symbols-outlined">qr_code</mat-icon>
      <span>QR Shares</span>
    </a>
  </nav>
</aside>
